/* Estilos para o cabeçalho */
.commun-header {
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  /* Estilos para a lista */
  li {
  list-style: none;
  }
  
  /* Estilos para o botão de voltar */
  .arrow-left {
  position: fixed;
  z-index: 1000000;
  top: 20px;
  left: 20px;
  background-color: white;
  border-radius: 50%;
  color: #fe4900;
  font-size: 50px;
  padding: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }
  
  /* Estilos para o botão de iniciar receita */
  .start-recipe-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fe4900;
  border-radius: 10px 10px 0 0;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.25);
  }
  
  /* Estilos para o rodapé da receita */
  .footer-recipe {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  /* Estilos para a imagem da receita */
  .div-recipe-img {
  position: relative;
  height: 400px;
  clip-path: inset(0px 0px 20px 0px);
  border-radius: 20px;
  overflow: hidden;
  }
  
  .div-recipe-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  /* Estilos para a barra de status da receita */
  .div-flat-bar {
  position: relative;
  top: -20px;
  height: 21px;
  display: flex;
  justify-content: center;
  }
  
  .flat-bar {
  width: 80px;
  height: 7px;
  border-radius: 50px;
  background-color: #BDBDBD;
  }
  
  /* Estilos para o botão de favoritos */
  .fav-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }
  
  /* Estilos para o botão de compartilhar */
  .share-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }
  
  .share-btn img {
  width: 30px;
  }
  
  /* Estilos para a seção do conteúdo da receita */
  .recipe-content {
  margin-bottom: 20px;
  }
  