.slider-card {
  padding: 1rem;
}

.slider-card-box {
  transition: all .3s ease-in;
  border-radius: 2rem;
  padding-bottom: 1rem;
}

.slider-card-box-title {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  justify-content: space-between;
  gap: 1rem;
}

.slider-card-box-title p{
  font-size: 1.2rem;
  line-height: .5;
  font-weight: 800;
}