.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner {
  display: flex;
}

.inner-item {
  max-width: 200px;
  padding: 14px;
}

.slider-recipe-img {
  border-radius: 50%;
  max-width: 180px;
  pointer-events: none;
}

.slider-recipe-btn {
  background-color: transparent;
  border: none;
}
